<div class="container">

    <h1>Listado de restaurantes</h1>

    <figure id="restarants-map"></figure>

    <a href="/restaurantes/crear" class="btn btn-dark btn-block btn-lg">Nuevo restaurante</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapstyles.js"></script>
<script src="/js/map-restaurants-app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=___APIKEY___s&callback=initMap"></script>