<div class="container">

    <h1>Esto es un mapa básico</h1>

    <figure id="map"></figure>

</div>

<script src="/js/mapstyles.js"></script>
<script src="/js/map-app.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=___&callback=initMap"></script>
